{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        {% tailwind_css %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Tienda{% endblock %}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		{% comment %} <link rel="stylesheet" href="{% static 'main.css' %}"> {% endcomment %}
		<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

	</head>

	<body>

		<!-- follow me on twitter @asad_codes -->
		<nav  id="navbarapp">

		{% include 'parts/navbar.html' %}	
	
		</nav>
        {% block content %}
        {% endblock %}
		
		<script>
			var store = new Vuex.Store({
				state: {
					numItems: {{ Cartnav.get_total_length }},
					totalCost:{{Cartnav.get_total_cost}}

				},
				
				mutations: {
					increment(state, quantity) {
						state.numItems += quantity;
					},
					changeTotalCost(state,newCost){
						state.totalCost+=newCost
					}

				}
			});

			var navbarapp = new Vue({
				el: '#navbarapp',
				delimiters: ['[[', ']]'],
				store: store,
				data(){
					return {
						menuClass:false
					}
				},
				computed: {
					numItems: function() {
						return store.state.numItems
					}
				},
				methods:{
					toggleMenu(){
						console.log(menuClass);
						this.menuClass = !this.menuClass;
					}
				}
				
			});
		</script>
		{% block scripts %}
		{% endblock scripts %}
		

	</body>
</html>