{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto mt-10" id="">
  {% if cart %}
  <div class="flex shadow-md my-10" v-if="products.length > 0">
    <div class="w-3/4 bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-8">
        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        <h2 class="font-semibold text-2xl">Articulos [[numItems]]</h2>
      </div>
      <div class="flex mt-10 mb-5">
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center"></h3>

      </div>
      <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5" v-for="product in products">
        <div class="flex w-2/5">
          <!-- product -->
          <div class="w-20">
            <img class="h-24" :src="product.thumbnail" alt="">
          </div>
          <div class="flex flex-col justify-between ml-4 flex-grow">
            <a :href="product.url" class="font-bold text-sm">[[product.title]]</a>
          </div>
        </div>
        <div class="flex justify-center w-1/5">
          <button @click="decrementQuantity(product.id, product.quantity, product.price)">
          <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
            <path
              d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
          </svg>
          </button>

          <span class="mx-2 border text-center w-8" >[[product.quantity]]</span>
          <button @click="incrementQuantity(product.id, product.quantity, product.price)">
          <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
            <path
              d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
          </svg>
          </button>
        </div>
        <span class="text-center w-1/5 font-semibold text-sm">S/[[product.price]]</span>
        <span class="text-center w-1/5 font-semibold text-sm">S/[[product.total_price]]</span>
            <button @click="removeFromCart(product.id)" class="font-semibold hover:text-red-500 r w-1/5 text-gray-500 text-xs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path></svg></button>

      </div>



      <a href="{% url 'frontpage' %}" class="flex font-semibold text-indigo-600 text-sm mt-10">

        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
          <path
            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
        Continue Shopping
      </a>
    </div>

    <div id="summary" class="w-1/4 px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5">
        <span class="font-semibold text-sm uppercase">Articulos [[numItems]]</span>
        <span class="font-semibold text-sm">S/ [[totalCost]]</span>
      </div>
      
      <div class="py-10">
        <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
        <input v-model="coupon_code" type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full">
        <input type="hidden" v-model="coupon_value">

      </div>
      <button @click="applyCoupon()" class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">Apply</button>
      <div class="alert flex flex-row items-center bg-yellow-200 p-5 rounded border-b-2 border-yellow-300 my-6" v-if="showCouponCodeError">
			<div class="alert-icon flex items-center bg-yellow-100 border-2 border-yellow-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
				<span class="text-yellow-500">
					<svg fill="currentColor"
						 viewBox="0 0 20 20"
						 class="h-6 w-6">
						<path fill-rule="evenodd"
							  d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
							  clip-rule="evenodd"></path>
					</svg>
				</span>
			</div>
			<div class="alert-content ml-4">
				<div class="alert-title font-semibold text-lg text-yellow-800">
					Warning
				</div>
				<div class="alert-description text-sm text-yellow-600">
					This is an alert message, alert message goes here..!
				</div>
			</div>
		</div>
        <form v-on:submit.prevent="buy()" class="border-t mt-8">
            <div class="flex font-semibold justify-between py-6 text-sm uppercase">
            <span>Total cost</span>
            <span>S/ [[totalCostWithCoupon]]</span>
            </div>
            <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <label>First name</label>
            
                                <div class="control">
                                    <input class="input" type="text" name="first_name" v-model="first_name">
                                </div>
                            </div>
            
                            <div class="field">
                                <label>Last name</label>
            
                                <div class="control">
                                    <input class="input" type="text" name="last_name" v-model="last_name">
                                </div>
                            </div>
            
                            <div class="field">
                                <label>E-mail</label>
            
                                <div class="control">
                                    <input class="input" type="email" name="email" v-model="email">
                                </div>
                            </div>
            
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Address</label>
            
                                <div class="control">
                                    <input class="input" type="text" name="address" v-model="address">
                                </div>
                            </div>
            
                            <div class="field">
                                <label>Zip code</label>
            
                                <div class="control">
                                    <input class="input" type="text" name="zipcode" v-model="zipcode">
                                </div>
                            </div>
            
                            <div class="field">
                                <label>Place</label>
            
                                <div class="control">
                                    <input class="input" type="text" name="place" v-model="place">
                                </div>
                            </div>
                            <div class="field">
                                <label>Phone</label>
            
                                <div class="control">
                                    <input class="input" type="text" name="phone" v-model="phone">
                                </div>
                            </div>
                        </div>
                    </div>
            <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
        </form>
    </div>

  </div>
  {% else %}
   <p>Your cart is empty!</p>
  {% endif %}
</div>
{% endblock content %}
